.ellipsis_wrapper {
  position: relative;
  overflow: hidden;
}
.ellipsis {
  font-size: 17px;
  line-height: 20px;
  overflow: hidden;
  max-height: 41px;
}
#bookmark {
	display: block;
	width: 38px;
	height: 33px;
	overflow: hidden;
	background-image: url(/common/images/bookmark.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	float: right;
	margin: -7px -7px 0 0;
	padding: 0 0 5px 5px;
}

#bookmark.bookmarked {
	background-position: 0 -38px;
}

.itemType {
  display: block;
  padding-left: 24px;
  background-position: left center;
  background-repeat: no-repeat;
	background-size: 20px;
	-webkit-background-size: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

.available {
  background-image: url(/modules/libraries/images/available@2x.png);
}
.requestable {
  background-image: url(/modules/libraries/images/requestable@2x.png);
}
.unavailable {
  background-image: url(/modules/libraries/images/unavailable@2x.png);
}

.nav .wrapper {
  display: inline-block;
}

.infoLink {
  float: right;
  margin-top: -8px;
}

.listItems .smallprint > div {
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
	background-size: 16px;
	-webkit-background-size: 16px;
  line-height: 18px;
}
.listItems .book {
  background-image: url(/modules/libraries/images/book.png);
}
.listItems .image {
  background-image: url(/modules/libraries/images/image.png);
}
.listItems .journal {
  background-image: url(/modules/libraries/images/journal.png);
}
.listItems .map {
  background-image: url(/modules/libraries/images/map.png);
}
.listItems .musicscore {
  background-image: url(/modules/libraries/images/musicscore.png);
}
.listItems .soundrecording {
  background-image: url(/modules/libraries/images/soundrecording.png);
}
.listItems .computerfile {
  background-image: url(/modules/libraries/images/computerfile.png);
}
.listItems .video {
  background-image: url(/modules/libraries/images/video.png);
}

table.search {
  border: none;
}
table.search th {
  text-align: right;
  font-weight: bold;
  width: 5.5em;
}
table.search th, table td {
  vertical-align: baseline;
}
table.search td.wrap {
  padding-right: 14px; /* handle input padding */
}

table.search input, table.search select {
  margin: 0;
  width: 99.9%;
  line-height: 22px;
}

.label {
  width: 88px;
}
.value {
  margin-left: 86px;
}

.thumbnail {
  text-align: center;
  padding-top: 10px;
}
.thumbnail a {
  display: inline-block;
  position: relative;
  background-image: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: normal;
}
.thumbnail a .smallprint,
.thumbnail a:visited .smallprint {
  text-decoration: underline;
  color: #933;
}
