@charset "utf-8";

h3 { margin-bottom:0; padding-top:7px; }
ul li { padding:7px; }

.text { background:black; padding-bottom:0;  }
.text .block { border-top:0; background:black; padding-bottom:0;  }
.text .block h3 { border-bottom:0; }

.articles li { padding:0; }
article { 
	padding:12px 12px 12px 24px; border-top:1px solid #FFD203; background:black; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000));
	background: -moz-linear-gradient(top,  #222,  #000); }
article header{}
article header h1{font-size: 20px; margin: 0;}

article footer {border-top: 1px dotted #5C5D5E; margin-top: 10px; padding-top: 5px; font-size: 16px;}
article footer .phone{width: 150px; float: left;}
article footer .email{margin-left: 150px;}

article .organization{color: #c8c8c8; font-weight: normal; margin-top: 10px; font-size: 14px;}
article .building{color: #c8c8c8; font-weight: normal; font-size: 14px;}

.end{clear: both;}


