.nav li.dininghall {
	background-position: 6px 18px;
	background-repeat: no-repeat;
}

.nav li.dininghall a {
	padding-left: 30px;
}

.nav li.open {
	background-position: 6px 18px;
	background-repeat: no-repeat;
	background-image: url(/modules/dining/images/dining-status-open.png);
}

.nav li.openrestrictions {
	background-position: 6px 18px;
	background-repeat: no-repeat;
	background-image: url(/modules/dining/images/dining-status-open-w-restrictions.png);
}

.nav li.closed {
	background-position: 6px 18px;
	background-repeat: no-repeat;
	background-image: url(/modules/dining/images/dining-status-closed.png);
}

.nav li.closedrestrictions {
	background-position: 6px 18px;
	background-repeat: no-repeat;
	background-image: url(/modules/dining/images/dining-status-closed-w-restrictions.png);
}

