/******************************************************************************\
	UCF Web Communications
	Summer 2010
\******************************************************************************/

#@import url('/modules/media/-/jqtouch-1.0-beta/themes/jqt/theme.min.css');


/******************************************************************************\
  jQTouch Overrides & Extensions
\******************************************************************************/
body > div { background:none; }
h1, h2 { color: #fff; margin:0; }
ul li a, li.img a + a { padding-top:10px; padding-bottom:10px; }
#body{}
.gloss{
	margin:5px 0 10px 0; padding: 0 7px;
}
.gloss li { 
	padding-top:11px; padding-bottom:9px;
	line-height:21px; height:21px;
	margin: 5px 0 0 0;
	color:#BCBCBC;
	background: #4c4d4e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
	background: -moz-linear-gradient(top,  #4c4d4e,  #404142); 
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.gloss li.dull { background: #404142; }
.gloss li.arrow {
	background: url(/modules/media/img/chevron.png), -moz-linear-gradient(top,  #4c4d4e,  #404142);
	background: url(/modules/media/img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142)) ;
    background-position: right center;
    background-repeat: no-repeat; }
.gloss li.arrow-back {
	padding-left: 28px; 
	background-image: url(/modules/media/img/chevron-flip.png), -moz-linear-gradient(top,  #4c4d4e,  #404142);
	background-image: url(/modules/media/img/chevron-flip.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
	background-position: left center;
    background-repeat: no-repeat; }
.gloss li.toggley { 
	padding-top:0;
	padding-bottom:0; 
	height:41px;
	line-height:41px;
	background-image: -moz-linear-gradient(top,  #4c4d4e,  #404142);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
}
/* search button */
.gloss li.search { background:none; padding:0; margin-bottom:3px; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; height:36px; }
.gloss li.search div { padding-right:100px; }
.gloss li.search input { height:36px; line-height:36px; border:0; }
.gloss li input[type="search"] { width:100%; background:white; padding-left:5px; }
.gloss li input[value="Search"] { position:absolute; right:0; top:0; width:95px;
	color:white; font-weight:bold; border-width:0;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
	background: -moz-linear-gradient(top,  #4c4d4e,  #404142); }
.gloss li input[value="Search"]:hover { color:#ffd203; }

.toggle {
	margin-top:7px;
	width: 94px; position: relative; height: 27px; display: block; overflow: hidden; float: right; }
.toggle input[type="checkbox"]:checked { left: 0px; }
.toggle input[type="checkbox"] { 
	-webkit-appearance: textarea; -moz-appearance:textarea;
    -webkit-border-radius: 5px; -moz-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: left .15s; -moz-transition: left 1s;
    background-color: transparent; background: #fff url(/modules/media/img/on_off.png) 0 0 no-repeat;
    border: 0; height: 27px; left: -55px; margin: 0;  overflow: hidden; position: absolute; top: 0; width: 149px; }


/******************************************************************************\
  MIT mobile
\******************************************************************************/
.focal { background:#3C3C3C; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }


/******************************************************************************\
  General Styles
\******************************************************************************/
html { margin:0; padding:0; }
body { margin: 0; padding: 0; background-color: #333; font-family: Helvetica; color: #ddd; }

a { color:white; }
a:hover { color:#FFD203; }
.clear { clear:both; height:1px; overflow:hidden; }

input[type="submit"]:hover { cursor:pointer; }

h1 a:active, h1 a:hover { border:0; outline:0; }
h1 {margin:0; padding:0; font-size:18px; line-height:21px; }
h1 a { 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000));
	display:block;
	padding:10px 0 7px; }
h1 a span {color:white; }
h2 { padding:12px 0 0 9px; font-size:22px; margin:0; }


/******************************************************************************\
  New Styles
\******************************************************************************/
#Header{ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000));
	border-bottom: 2px solid #ffd203; background-color: #000;	
	color: #fff; padding:0; }
#Header h1{ text-align: center; }
#Header h1 a{ text-decoration: none; color: #ffd203; border:0; }
#Content { padding:0; }


/******************************************************************************\
  Text pages
\******************************************************************************/
#text {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#333333)); 
	background: -moz-linear-gradient(top,  #4c4d4e,  #333333);
	min-height:50px; padding:12px 7px 0; color:white; }
#text h2 { padding:3px 0 0 0; }
#text h2 + p { margin-top:4px; }
#text h2 + .block { margin-top:12px; }
#text h3 { border-bottom:1px dotted #FFD203;  color:white; padding-bottom:6px; margin-bottom:18px; }
#text h3 span { font-weight:normal; font-size:16px; display:block; padding-top:3px;}
#text .block + .block { margin-top:14px; }
#text .block { 
	padding:12px 12px 12px 24px;
	background:black; border: 1px solid black; 
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#161616)); 
	background: -moz-linear-gradient(top,  #252525,  #161616); }
#text .block h3 { margin-left: -12px; }
#text .block h3:first-child { padding-top:0; margin-top:2px; }
#text .block h3 + h4 { padding-top:0; }
#text .block h4 { margin:0; padding:12px 0;  }
#text .block h4:first-child { padding-top:0; }
#text p { padding:0 0 12px 0; margin:0; }
#text dl dt { float:left; clear:both; }
#text dl dd { float:left; }
#text table { border-collapse: collapse; }
#text th { padding-bottom:5px; }
#text td { padding:5px 0; border-top:1px dotted #474747; }
#text tr td:first-child { text-align:center; padding:5px 4px; vertical-align:top; }
#text .routes td span { display:block; font-size:13px; }

/******************************************************************************\
    Google Things
\******************************************************************************/
.info-window { width:300px; overflow-x:hidden; margin:0; font-family:"Trebuchet MS",sans-serif; font-size:12px; }
.info-window h2 {margin:0; padding-bottom:10px; font-size:1.5em; font-family:georgia,serif; font-size:18px; color:black; font-weight:normal; }
.info-window p {text-align:right; padding-top:7px; margin:0; color:#151515;}
.info-window a { color:	#990000; }
