/******************************************************************************\
	UCF Web Communications
	Summer 2010
\******************************************************************************/

@import url('/modules/media/-/jqtouch-1.0-beta/themes/jqt/theme.min.css');

/******************************************************************************\
  jQTouch Overrides & Extensions
\******************************************************************************/
body > div { background:none; }
h1, h2 { color: #fff; margin:0; }
ul li a, li.img a + a { padding-top:10px; padding-bottom:10px; }
.gloss { padding: 7px; margin: 0; }
.gloss li { 
	padding-top:10px; padding-bottom:10px;
	line-height:21px; height:21px;
	margin: 5px 0 0 0;
	color:#BCBCBC;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
	background: -moz-linear-gradient(top,  #4c4d4e,  #404142); 
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.gloss li.dull { background: #404142; }
.gloss li.arrow {
	background: url(/modules/media/img/chevron.png), -moz-linear-gradient(top,  #4c4d4e,  #404142);
	background: url(/modules/media/img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142)) ;
    background-position: right center;
    background-repeat: no-repeat; }
.gloss li.arrow-back {
	padding-left: 28px; 
	background-image: url(/modules/media/img/chevron-flip.png), -moz-linear-gradient(top,  #4c4d4e,  #404142);
	background-image: url(/modules/media/img/chevron-flip.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
	background-position: left center;
    background-repeat: no-repeat; }
.gloss li.toggley { 
	padding-top:0;
	padding-bottom:0; 
	height:41px;
	line-height:41px;
	background-image: -moz-linear-gradient(top,  #4c4d4e,  #404142);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
}
.toggle {
	margin-top:7px;
	width: 94px; position: relative; height: 27px; display: block; overflow: hidden; float: right; }
.toggle input[type="checkbox"]:checked { left: 0px; }
.toggle input[type="checkbox"] { 
	-webkit-appearance: textarea; -moz-appearance:textarea;
    -webkit-border-radius: 5px; -moz-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: left .15s; -moz-transition: left 1s;
    background-color: transparent; background: #fff url(/modules/media/img/on_off.png) 0 0 no-repeat;
    border: 0; height: 27px; left: -55px; margin: 0;  overflow: hidden; position: absolute; top: 0; width: 149px; }
.gloss li.search {
	padding-top:9px;
	padding-bottom:11px;
}
.gloss li input[type="search"] {
	width:83%;
}

/******************************************************************************\
  MIT mobile & general styles
\******************************************************************************/
a { color:white; }
a:hover { color:#FFD203; }
.focal { background:#3C3C3C; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }


/******************************************************************************\
  New Styles
\******************************************************************************/
body{
	margin: 0;
	padding: 0;
    background-color: #333;
    font-family: Helvetica;
	color: #ddd;
}

#Header{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000));
	border-bottom: 2px solid #ffd203;
	background-color: #000;	
	color: #fff;
	padding: 5px 5px;
}
#Header h1{
	text-align: center;
}
#Header h1 a{
	text-decoration: none;
	color: #ffd203;
	border:0;
}
h1 a:active, h1 a:hover { border:0; outline:0; }

#Content { padding:0; }
#Header { padding:0; }
html, body { margin:0; padding:0; }
h1 {margin:0; padding:0; font-size:18px; line-height:21px; }
h1 a { 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#000));
	display:block;
	padding:10px 0 7px; }
h1 a span {color:white; }


/******************************************************************************\
    Google Things
\******************************************************************************/
.info-window { width:300px; overflow-x:hidden; margin:0; font-family:"Trebuchet MS",sans-serif; font-size:12px; }
.info-window h2 {margin:0; padding-bottom:10px; font-size:1.5em; font-family:georgia,serif; font-size:18px; color:black; font-weight:normal; }
.info-window p {text-align:right; padding-top:7px; margin:0; color:#151515;}
.info-window a { color:	#990000; }
