.springboard a img {
	margin-bottom: 1px;
	border: none;
    height: 64px;
    width: 64px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 32px;
	height: 32px;
	font-size: 12px;
	line-height: 13px;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items */
	width: 32px;
	height: 32px;
}

#download {
}
