#youtube { padding:14px 7px 0; }
#youtube td { border:0; font-size:14px; line-height:18px; padding:3px 0 0; }
#youtube .block { padding-left:18px; }
#youtube table { margin-bottom:0;}
#youtube td a { font-weight:bold; line-height:26px;  }
#youtube table td:first-of-type { width:130px; }
#youtube a img { border:1px solid #FFD203; margin:0 18px 0 0;  }