
.text { padding-top:0; }
#youtube { padding:0; }
#youtube .block { padding-left:18px; position:relative; border-bottom: 1px solid #FFD203; border-top:0; margin-top:0; padding-bottom:15px; }
#youtube .block .clear { clear:both; height:1px; overflow:hidden; font-size:1px; }
#youtube h3 { margin-left:0; padding-left:0; margin-bottom:14px; }
#youtube h3 a { text-decoration:none; }
#youtube a img { border:1px solid #A58D21; margin:0 14px 0 0;  }
#youtube .icon a { float:left; padding:0; }
#youtube .desc { line-height:150%; padding-bottom:12px;  }
#youtube .foot { font-size:12px; color:#777; line-height:125%; }
#youtube .foot a { color:#888; }
#youtube .foot span { padding:0 2px; }
#youtube .foot div { float:left; padding:0 4px; }
#youtube .foot div:first-child { padding-left:0; }
#youtube .foot div:first-child span { padding-left:0; }
