.news-header{padding: .5em 10px; margin: 10px 0; text-align: center;}
.news-header h1 a{background: none;}
.news-items{padding: 0; margin: 0;}
.news-items li{height: auto; padding-right: 40px;}
.news-items li a{white-space: normal; font-size: 14px;}
.news-items .selector{margin-bottom: 35px;}
.news-item article .image{float: right;}
.news-item article .image img {width: 75px; border: 1px solid #3C3C3C;}
.news-item article .title{margin-right: 85px; font-size: 16px;}
.news-item article.no-image .title{margin-right: 0;}

article.content { border: 1px solid white; margin: 0 10px; padding: 10px; background:#3C3C3C; border-radius:8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
article.content h1{font-size: 20px; margin-bottom: 10px;}
article.content {overflow: hidden;}
article.content section img{margin: 5px 10px 10px 0;}
