.event .startdate,
.event .enddate{font-weight: bold; font-size: 16px;}
.event .startdate{}
.event .startdate:before{
	font-weight: normal;
	display: inline-block;
	width: 70px;
	content: 'starts:';
}
.event .enddate{}
.event .enddate:before{
	font-weight: normal;
	display: inline-block;
	width: 70px;
	content: 'ends:';
}
.event .location{font-size: 18px; font-weight: bold; margin: 0 0 0 0;}
.event .description{margin: 20px 0;}

.group {margin: 1em 0;}
.group a,
.group span {display: inline-block; margin: 0 10px; font-weight: bold; width: 50px;}
.group a {width: 30px; text-indent: -1024px; background-image: url(/media/img/chevron.png);  background-position: center; background-repeat: no-repeat; padding: 0;}
.group a.arrow-back{ background-image: url(/media/img/chevron-flip.png);}